<!DOCTYPE html>
<!--This is an index page-->
<html lang="{{ page.lang | default: site.lang }}">
  <head>
  <script src="https://use.fontawesome.com/baff6f55f5.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bowen Li, bowen, math, Mathematics, Applied Mathematics, Computational Mathematics, Economics, Physics">
    <title>Bowen Li</title>
    
    {% seo %}
    
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    

    <link rel="stylesheet" href="{{ "/assets/css/pygment_trac.css?v=" | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Bowen Li</h1>
        <p>PhD Student<br />Academy of Mathematics and Systems Science<br />Chinese Academy of Sciences</p>
        
        <h3><a href="https://bowenmath.github.io/">Home</a></h3>
        <h3><a href="#research">Research</a></h3>
        
        <b>Social</b><br />
        <div class="social-row">
          <a href="mailto:bowen@lsec.cc.ac.cn" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a><br />
          <a href="https://scholar.google.com/citations?user=oNUbp4sAAAAJ&hl=en" target="_blank"><i class="ai ai-fw ai-google-scholar-square"></i>Google Scholar</a><br />
          <a href="https://orcid.org/0000-0003-2212-5333"><i class="ai ai-fw ai-orcid-square"></i>ORCID</a><br />
          <br />
        </div>
        <br />

        <p><b>Contact</b><br />Institute of Computational Mathematics and Scientific/Engineering Computing,<br />Academy of Mathematics and Systems Science,<br />No.55, ZhongGuanCun East Road, Beijing, China, 100190</p>
      </header>
      <section>
        <img src="assets/img/bowen.jpg" width="320" height="350" alt="Bowen Li"></h3>
        <p> <br /> </p>
        <p>I am now a PhD student at
             <a href="http://www.amss.cas.cn/">Academy of Mathematics and Systems Science</a>,
             <a href="https://english.cas.cn/">Chinese Academy of Sciences</a>. <br /> <br />
        </p>
        <p>My research interests lie mainly in control theory, optimization, and machine learning. <br /> <br /> </p>
        
        <h2>Education</h2>
          <ul>
            <li>
              <p><b>Ph.D Candidate in Applied Mathematics</b> (2021.9-now)<br />
                Academy of Mathematics and Systems Science, Chinese Academy of Sciences</p>
            </li>
            <li>
              <p><b>B.S in Mathematics and Applied Mathematics</b> (2017.9-2021.6)<br />
                Taishan College, Shandong University</p>
            </li>
          </ul>
          
        <h2 id="research">Publications</h2>
          <ul>
            <li>
              <p><strong>Bowen Li</strong>, and Bin Shi,
                <a href="https://arxiv.org/abs/2403.11139">Understanding the PDHG Algorithm via High-Resolution Differential Equations</a>,
                <i>preprint</i>, 2024.</p>
            </li>
            <li>
              <p><strong>Bowen Li</strong>, and Bin Shi,
                <a href="https://arxiv.org/abs/2401.07096">Understanding the ADMM Algorithm via High-Resolution Differential Equations</a>,
                <i>preprint</i>, 2024.</p>
            </li>
            <li>
              <p><strong>Bowen Li</strong>, Bin Shi, and Ya-xiang Yuan,
                <a href="https://arxiv.org/abs/2306.09694">Linear convergence of Nesterov-1983 with the strong convexity</a>,
                <i>preprint</i>, 2023.</p>
            </li>
            <li>
              <p><strong>Bowen Li</strong>, Bin Shi, and Ya-xiang Yuan,
                <a href="https://arxiv.org/abs/2212.06319">Linear Convergence of ISTA and FISTA</a>,
                <i>preprint</i>, 2022.</p>
             </li>
             <li>
              <p><strong>Bowen Li</strong>, Bin Shi, and Ya-xiang Yuan,
                <a href="https://arxiv.org/abs/2211.01610">Proximal subgradient norm minimization of ISTA and FISTA</a>,
                <i>preprint</i>, 2022.</p>
            </li>
          </ul>
      </section>
      <footer>
        <p><small>Welcome to my homepage!</small></p>
      </footer>
    </div>
    <script src="assets/js/scale.fix.js"></script>
  </body>
</html>
