<!DOCTYPE html>
<!--This is an index page-->
<html lang="{{ page.lang | default: site.lang }}">
  <head>
  <script src="https://use.fontawesome.com/baff6f55f5.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    
    <meta name="keywords" content="{{ site.keywords | default: site.github.repository_name }}">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    
    {% seo %}
    
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/pygment_trac.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description }}</p>
        
        {% for item in site.nav %}
          {% if page.url == item.link %}
            <h3 style="color:#191970">
              <a href="{{ item.link }}">{{ item.name }}</a></h3>
          {% else %}
            <h3><a href="{{ item.link }}">{{ item.name }}</a></h3>
          {% endif %}
        {% endfor %}
        
        <b>Social</b><br />
        <div class="social-row">
          <a href="mailto:{{ site.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a><br />
          <a href="{{ site.scholar }}" target="_blank"><i class="ai ai-fw ai-google-scholar-square"></i>Google Scholar</a><br />
          <a href="{{ site.orcid }}"><i class="ai ai-fw ai-orcid-square"></i>ORCID</a><br />
          <br />
        </div>
        <br />

        <p><b>Contact</b><br />{{ site.contact | default: site.github.repository_url }}</p>
      </header>
      <section>
        
        {{ content }}
        
      </section>
      <footer>
        <p><small>Welcome to my homepage!</small></p>
      </footer>
    </div>
    <script src="assets/js/scale.fix.js"></script>
  </body>
</html>
