<!DOCTYPE html>
<!--This is an index page-->
<html lang="{{ page.lang | default: site.lang }}">
  <head>
  <script src="https://use.fontawesome.com/baff6f55f5.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bowen Li, bowen, math, Mathematics, Applied Mathematics, Computational Mathematics, Economics, Physics">
    
    {% seo %}
    
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    

    <link rel="stylesheet" href="assets/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
